*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body 
    { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    color: #000000;     
    text-align:center;
    background:linear-gradient(#648880, #293f50);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

#wrapper{  
    width:580px;  
    text-align:left;   
    margin-left:auto;  
    margin-right:auto;  
}
#jumbo, #word-form{
    padding: 38px 28px 28px;
    margin: 18px 0;
    border: 1px solid #666666;
    background-color: #cccccc;
    border-radius: 8px;
}
#word-container{
    position: relative;
    height: 140px;
    margin-top: 32px;
    overflow-y: scroll;
    background-color: #eee;
    border-radius: 8px;
    border: solid 1px #ccc;
    padding: 12px;
}
#word-form{
    padding: 18px 28px 28px;
    height: 128px;    
}
#word-form p{
    display: inline-block;
    width: 36%;
    padding-top: 12px;
}
#word-form p:nth-child(4) {
    width: 50%;
  }
.word-block{
    position: relative;
    margin-top: 14px;
    font-size: 2em;
}
#jumbo h1{
    padding-top: 2px;
    position: fixed;
    margin-top: -22px;
    font-size: 3em;
}
#search-field, button{
    padding: 4px;
    margin-bottom: 8px;
    border: 1px solid #666666;
    background-color: #ffffff;
    border-radius: 4px;    
}
h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}
/* Header 

/* Footer 

/* Your template */

form {
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #666666;
    background-color: #cccccc;
    border-radius: 8px;
}

input
  { 
  padding: 3px; 
  border: 1px solid#999999;
  border-radius: 4px;   
}
#search-box{
    width: 100px;
    float: right;
    text-align: right;
    margin-top: -8px;
}